@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}
body{
  background-color: #242121;
}
navbar{
  display: flex;
  background: #292828;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}
.middle{
  display: flex;
  display: flex;
  align-items: center;
  gap:5%;
}
.left{
  display: flex;
  align-items: center;
  width: 15%;
  gap: 5%;
  margin-left: 2%;
}
.search{
  display: flex;
  align-items: center;
}
.right{
  display: flex;
  gap: 10%;
  align-items: center;
  width: 15%;
  margin-right: 1%;
}
.middle input{
border-radius: 4px;
background: #292828;
color: #808080;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 300;
line-height: normal;
border: none;
width: 100%;
}
.middle button {
background: #292828;
border: 1px solid rgba(255, 255, 255, 0.50);
color: rgba(255, 255, 255, 0.50);
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding: 1% 2%;
}
.search{
  border: 1px solid rgba(255, 255, 255, 0.50);
  width: 45em;
  border-radius: 4px;
  height: 55%;
}
.search img{
  padding-left: 1%;
  padding-right: 1%;
}
input:focus{
  outline: none;
}
.book-nonactive{
  width:fit-content;
}
.booksection{
  display: flex;
  flex-wrap: wrap;
  background-color: #242121;
}
.activebooksection{
  display: flex;
  justify-content: space-around;
  background-color: #242121;
  padding-top: 2%;
   margin-bottom: 2%;
}
.highbook{
  display: flex;
  max-width: 30%;
  max-height: 10%;
}
.text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
          line-clamp: 5; 
  -webkit-box-orient: vertical;
color: #D2D2D2;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
a,a:active,a:visited{
  text-decoration: none;
}
.title{
  color: #FFF;
font-family: Roboto;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 3%;
}
.readmore{
  color: #FFF;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 300;
line-height: normal;
border: 1px solid #FFF;
padding: 1% 2%;
align-self: center;
margin-top: 5%;
margin-bottom: 3%;
}
.highbook{
border-radius: 5px;
box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
.leftbook img{
  height: 110%;
}
.rightbook{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 3%;
  background-color: rgba(113, 197, 244, 0.38) !important;
  padding-top: 5%;
  padding-right: 5%;
}
.tilted{
  transform: rotate(-3.496deg);
    position: relative;
    right: -7px;
    bottom: 5px;
    max-width: 200px;
}
.books{
  width: 202.893px;
  height: 299.216px;
  max-width: 202.893px;
  max-height: 299.216px;
}
.book-nonactive{
  padding-left: 3%;
  margin-bottom: 3%;
}
.booksection{
  gap: 14%;
  margin-top: 5%;
}
.heading{
color: #FFF;
font-family: Roboto;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 5%;
margin-left: 3%;
}
.noimage1{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 170px;
}
.noimage2{
  width: 202.893px;
  height: 299.216px;
  max-width: 202.893px;
  max-height: 299.216px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
}
#clicked{
  max-width: 90% !important;
  margin-left: 5%;
  margin-top: 3%;
}
#clicked2{
  width: 100%;
  padding-left: 5%;
  padding-top: 1%;
}
.author{
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.p2{
  align-self: flex-end;
}
.buttons{
  width: 44%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5%;
  height: 100px;
}
.author{
color: rgba(255, 255, 255, 0.50);
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding-bottom: 1%;
}
.infobook{
color: #E2E2E2;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: bold;
line-height: normal;
padding-left: 1%;
display: flex;
width: 100%;
}
#desc{
  font-size: 17px;
  padding-bottom: 2%;
  overflow: hidden;
  max-height: 102px;
}
#clickedimg{
  right: 50px;
  bottom: 5px;
  max-width: 250px;
}
@media screen and (min-width:1100px) and (max-width:1760px) {
  #clicked2{
    padding-left: 6%;
  }
  
}
@media screen and (min-width:320px) and (max-width:700px) {
  #clicked2{
    padding-left: 6%;
  }
  .activebooksection{
    flex-wrap: wrap;
  }
  .highbook{
    min-width: 100%;
    margin-bottom: 15%;
    padding-left: 0%;
  }
  .title{
    font-size: 25px;
  }
  .leftbook img{
    width: 150px;
  }
  .rightbook{
    padding-left: 6%;
  }
  .booksection{
    gap: 102%; 
    margin-top: 5%;
    width: 90%;
    margin-left: 20%;
  }
  navbar{
    flex-wrap: wrap;
  }
  .search{
    width: 18em;
    height: 40px;
  }
  .middle{
    margin-left: 5%;
    margin-bottom: 3%;
  }
  .right{
    display: flex;
    gap: 15%;
    align-items: center;
    width: 100%;
    margin-right: 1%;
    margin-bottom: 3%;
    
  }
  .left{
    margin-bottom: 3%;
  }
  #clickedimg{
    right: -10px;
  }
  #clicked{
    flex-direction: column;
    margin-top: 10%;
  }
  #clicked2{
    width: 90%;
    padding-left: 0;
  }
  .leftbook{
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .infobook{
    
    flex-direction: column;
  }
}